<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gerätereparaturformular</title>
        <link rel="stylesheet" type="text/css" href="./styles.css" />
    </head>
    <body>
        <h1>Gerätereparaturformular</h1>
        <div class="form-section">
            <div class="input-group">
                <label>Vorname:<input type="text" value="{{ firstName }}" readonly /></label>
                <label>Nachname:<input type="text" value="{{ lastName }}" readonly /></label>
                <label>Straße:<input type="text" value="{{ street }}" readonly /></label>
                <label>Hausnummer:<input type="text" value="{{ houseNumber }}" readonly /></label>
                <label>PLZ:<input type="text" value="{{ postCode }}" readonly /></label>
                <label>Ort:<input type="text" value="{{ city }}" readonly /></label>
                <label>Festnetz: <input type="text" value="{{ festnetz }}" readonly /></label>
                <label>Mobil:<input type="text" value="{{ phone }}" readonly /></label>
                <label>Gerät: <input type="text" value="{{ device }}" readonly /></label>
                <label>Email address: <input type="email" value="{{ email }}" readonly /></label>
            </div>
        </div>
        <div class="form-section">
            <p><strong>Repariert wird:</strong></p>
            <div class="checkbox-group">
                <label>Diagnose: {% if diagnose %} ja {% else %} nein {% endif %}</label>
                <label>Software: {% if software %} ja {% else %} nein {% endif %}</label>
                <label>Wasserschaden: {% if wasserschaden %} ja {% else %} nein {% endif %}</label>
                <label>Akku: {% if battery %} ja {% else %} nein {% endif %}</label>
                <label>Display: {% if display %} ja {% else %} nein {% endif %}</label>
                <label>Touchglas: {% if touchglas %} ja {% else %} nein {% endif %}</label>
                <label>Lautsprecher: {% if speaker %} ja {% else %} nein {% endif %}</label>
                <label>Mikrofon: {% if microphone %} ja {% else %} nein {% endif %}</label>
                <label>Hörmuschel: {% if earpiece %} ja {% else %} nein {% endif %}</label>
                <label>Anrufsensor: {% if anrufsensor %} ja {% else %} nein {% endif %}</label>
                <label>Flasch Licht: {% if flaschlicht %} ja {% else %} nein {% endif %}</label>
            </div>
        </div>
        <div class="form-section">
            <p><strong>Mängel am Gerät vor der Reparatur:</strong></p>
            <div class="checkbox-group">
                <label
                    >Übliche Gebrauchsspuren: {% if usualDamageSigns %} ja {% else %} nein {% endif
                    %}</label
                >
                <label
                    >Deutliche Gebrauchsspuren: {% if clearDamageSigns %} ja {% else %} nein {%
                    endif %}</label
                >
                <label>Rahmen verbogen: {% if bentFrame %} ja {% else %} nein {% endif %}</label>
                <label
                    >SIM & SD Karte entfernt: {% if simCardRemoved %} ja {% else %} nein {% endif
                    %}</label
                >
                <label
                    >Antenne entfernt: {% if antennaRemoved %} ja {% else %} nein {% endif %}</label
                >
                <label>WLAN: {% if netzwlan %} ja {% else %} nein {% endif %}</label>
                <label>Mobilfunk: {% if netzMobilfunk %} ja {% else %} nein {% endif %}</label>
            </div>
        </div>

        <!-- Terms and Confirmation Section -->
        <div class="container" style="break-before: page">
            <h1 class="main-title">Allgemeine Geschäftsbedingungen</h1>
            <div class="content">
                <section>
                    <h2>1. Vertragsabschluss</h2>
                    <p>
                        Verträge kommen ausschließlich durch eine schriftliche Auftragsbestätigung
                        oder durch Ausführung des Auftrags zustande.
                    </p>
                </section>
                <section>
                    <h2>2. Reparaturleistung</h2>
                    <p>
                        Der Auftragnehmer verpflichtet sich, die Reparatur gemäß schriftlichem
                        Auftrag vom Kunden vorzunehmen. Alle angebotenen Preise sind Bruttopreise.
                        Sollte im Rahmen einer Überprüfung des Gerätes noch weitere Defekte
                        festgestellt werden, erfolgt die Reparatur erst nach Rücksprache mit dem
                        Kunden. Mit Ihrem Reparaturauftrag erteilen Sie uns den Auftrag, die
                        festgestellten und definierten Mängel (siehe Reparaturbegleitschein) am
                        Gerät zu beheben. Wir garantieren zu keiner Zeit die vollständige Behebung
                        aller Schäden am Gerät.
                    </p>
                </section>
                <section>
                    <h2>3. Preise</h2>
                    <p>
                        Alle Preise sind in der Währung Euro angegeben, einschließlich der
                        gesetzlichen Mehrwertsteuer. Für eine Diagnose bei umfangreichen oder
                        unbekannten Schäden berechnen wir pauschal 30€ und beim Wasserschaden 50€.
                    </p>
                </section>
                <section>
                    <h2>4. Garantie</h2>
                    <p>
                        Auf die von uns eingesetzten Komponenten (Original und Serviceware) erhalten
                        Sie eine Garantie von 6 Monaten. Eine Garantie für Komponenten von
                        Drittanbietern gibt es nicht. Wir übernehmen keine Haftung, wenn keine
                        Originalteile eingebaut wurden. Lassen Sie Ihr Gerät während der
                        Garantiezeit als Garantiefall beim Hersteller abwickeln. Der Kunde wird
                        darauf hingewiesen, dass für von ihm eingesandtes Gerät eine Garantie des
                        Herstellers bestehen kann. Durch eine von uns durchgeführte Reparatur oder
                        ein Reparaturversuch am eingesandten Gerät kann nach den jeweiligen
                        Garantiebedingungen des Herstellers ein Verlust der Garantie eintreten.
                        Hierfür wird die Haftung durch Phonytechs ausgeschlossen. Sollte nach
                        unserer Reparatur ein Defekt vorliegen, muss diese zwingend binnen fünf
                        Tagen in der jeweiligen Filiale geltend gemacht werden.
                    </p>
                </section>
                <section>
                    <h2>5. Eigentumsvorbehalt</h2>
                    <p>
                        Bis zur vollständigen Bezahlung des fälligen Rechnungsbetrags bleibt die
                        Ware unser Eigentum. Sollten Sie Ihr Gerät nach einer schriftlichen
                        Aufforderung nicht binnen 10 Wochen in der jeweiligen Filiale abholen bzw.
                        bezahlen, geht das Gerät in unser Eigentum über. Es wird dann zum
                        marktüblichen Preis verkauft. Aus dem Erlös wird der Rechnungsbetrag
                        beglichen. Sie erhalten dann den Differenzbetrag abzüglich 30€ Verwahr- und
                        Verwaltungsgebühr.
                    </p>
                </section>
                <section>
                    <h2>6. Bezahlung</h2>
                    <p>
                        Nach einem gemeinsamen Funktionstest mit dem Kunden muss die Ware bzw. das
                        reparierte Gerät bezahlt werden. Erst nach vollständiger Bezahlung der
                        Reparatur erhält der Auftraggeber das Gerät zurück. Die Zahlung auf Rechnung
                        ist für Privatpersonen nicht möglich.
                    </p>
                </section>
                <section>
                    <h2>7. Haftung</h2>
                    <p>Die Haftung ist generell auf den Auftragswert beschränkt.</p>
                </section>
                <section>
                    <h2>8. Datenschutz</h2>
                    <p>
                        Der Kunde ist verpflichtet, seine Daten über ein Backup zu sichern, bevor er
                        das Gerät abgibt. Wir haften für keinerlei Datenverlust. Die von Ihnen
                        übermittelten Daten werden von uns streng vertraulich behandelt. Eine
                        Weitergabe der Daten an Dritte erfolgt von uns nur, sofern dies für die
                        Auftragsabwicklung erforderlich ist. Wir übernehmen keine Haftung für die
                        Datensicherheit während der Übertragung über das Internet, z. B. wegen
                        technischer Fehler des Providers oder für einen kriminellen Zugriff Dritter
                        auf Dateien unserer Internetpräsenz.
                    </p>
                </section>
                <section>
                    <h2>9. Verlust der Auftragskarte</h2>
                    <p>
                        Bei Verlust der Auftragskarte werden 20€ Pfand berechnet. Falls der Kunde
                        die Karte findet, kann er diese innerhalb von 2 Wochen wieder zurückbringen.
                    </p>
                </section>
                <section>
                    <h2>10. Wasserdichtigkeit</h2>
                    <p>
                        Phonytechs gewährleistet nicht, dass ein Gerät nach der Reparatur bzw. der
                        durchgeführten Diagnose staub- und/oder wasserdicht ist bzw. gegen
                        Spritzwasser geschützt ist. Hierfür übernehmen wir keine Haftung.
                    </p>
                </section>
                <section>
                    <h2>11. Datensicherung</h2>
                    <p>
                        Der Kunde ist verpflichtet, vor Überlassung bzw. Einsendung des Gerätes oder
                        des Zubehörs sicherzustellen, dass sämtliche gespeicherte Daten gelöscht
                        oder anderweitig gesichert wurden. Wir weisen ausdrücklich darauf hin, dass
                        eventuell noch gespeicherte Daten bei der Reparatur verloren gehen können.
                        Wir übernehmen keine Haftung für Datenverlust.
                    </p>
                </section>
                <section>
                    <h2>12. Haftung der Daten</h2>
                    <p>
                        Eine Haftung für Daten (z. B. Telefonnummern, Namen etc.) wird nicht
                        übernommen. Des Weiteren nehme ich zur Kenntnis, dass sämtliche im Gerät
                        gespeicherten Daten bei einem Softwareupdate verloren gehen können.
                    </p>
                </section>
                <section>
                    <h2>13. Sturz- und Wasserschäden</h2>
                    <p>
                        Bei Sturz- und/oder Wasserschäden übernehmen wir keine Gewährleistung/keine
                        Garantie für die Funktionalität des eingebauten Ersatzteiles. Durch Sturz-
                        oder Wasserschäden können irreparable Spätfolgen an der Platine entstehen,
                        welche die Funktionalität nachträglich negativ beeinflussen können. Wir
                        übernehmen keine Garantie für die Folgeschäden des Sturz- oder
                        Wasserschadens. Bei einer Wasserschadenbehandlung kann es auch während der
                        Reparatur zu Kurzschlüssen kommen, welche auf das eingedrungene Wasser
                        zurückzuführen sind. Der Auftragnehmer übernimmt keine Haftung bzw.
                        Regressansprüche für auftretende Kurzschlüsse bzw. Defekte der Platine o. ä.
                        innerhalb des Reparaturauftrages. Der Auftraggeber akzeptiert dies mit der
                        Auftragserteilung.
                    </p>
                </section>
                <section>
                    <h2>14. Glastausch</h2>
                    <p>
                        Wir weisen darauf hin, dass der Glastausch nicht prozesssicher durchgeführt
                        werden kann. Bei der Reparatur kann es aufgrund des gesplitterten Glases zu
                        Komplikationen kommen, welche das gesamte LCD zerstören können. In diesem
                        Fall haftet der Auftragnehmer nicht für den entstandenen Schaden.
                    </p>
                </section>
                <section>
                    <h2>15. Ausgetauschte Teile</h2>
                    <p>
                        Die defekten und ausgetauschten Teile bleiben im Eigentum des
                        Auftragnehmers.
                    </p>
                </section>
                <section>
                    <h2>16. Sonstiges</h2>
                    <p>
                        Sollte eine Bestimmung dieser AGB unwirksam sein oder sollten die AGB
                        unvollständig sein, so werden die rechtswirksamen Bestimmungen im Übrigen
                        nicht berührt. Die unwirksame Bestimmung soll durch eine solche Bestimmung
                        ersetzt werden, welche dem Sinn und Zweck der rechtswirksamen Bestimmung in
                        rechtswirksamer Weise am nächsten kommt. Dasselbe gilt für eventuelle Lücken
                        dieser AGB. Die für den Vertragsabschluss und die Korrespondenz zur
                        Verfügung stehende Sprache ist Deutsch. Diese AGB unterliegen dem Recht der
                        Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts.
                    </p>
                </section>
            </div>
        </div>

        <table style="margin-bottom: 0.5em; width: 100%; font-size: 11px">
            <tr style="margin: 0.4em 0">
                <!-- Checkbox and Text -->
                <td style="text-align: left">
                    <span class="checkbox checked"></span>
                    <span class="checkbox-text">
                        Hiermit bestätige ich, dass ich mit den oben genannten Bedingungen
                        einverstanden bin und diese akzeptiere.
                    </span>
                </td>
                <!-- Signature Field -->
                <td style="width: 25%; text-align: left">
                    <p style="margin: 0 0 0.2em 0">Kunde: (Unterschrift)</p>
                    <div class="signature-line"></div>
                </td>
            </tr>
        </table>
    </body>
</html>
