<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
        <title>Gerätereparaturformular</title>
        <style>
            @page {
                size: A4; /* or use 'letter' depending on your preference */
                margin: 1cm; /* Adjust as needed */
            }
            @font-face {
                font-family: "DejaVu Sans";
                src: url("fonts/dejavu-sans.book.ttf") format("truetype");
                font-weight: normal;
                font-style: normal;
            }
            body {
                font-family: "DejaVu Sans", sans-serif;
                margin: 0;
                font-size: 12pt;
            }
            .checkbox {
                display: inline-block;
                width: 12pt;
                height: 12pt;
                border: 1pt solid #1f4696;
                border-radius: 50%; /* Makes it round */
                margin-right: 0.5rem;
                position: relative;
            }
            .checkbox.checked::after {
                content: "";
                position: absolute;
                top: 2pt;
                left: 2pt;
                width: 8pt;
                height: 8pt;
                background-color: #1f4696;
                border-radius: 50%;
            }
            /* Additional styles if needed */
        </style>
        <!-- <link rel="stylesheet" type="text/css" href="./styles.css" /> -->
    </head>
    <body>
        <!-- Header Section -->

        <!-- Second Section -->
        <table style="width: 100%">
            <tr>
                <!-- Logo Component -->
                <td style="width: 50%">
                    <img src="images/logo.png" alt="Logo" style="width: 200px" />
                </td>
                <!-- Title -->
                <td style="width: 50%; text-align: center; font-weight: bold">
                    <h1 style="font-size: 1.5rem">Reparaturauftrag</h1>
                    <h2 style="font-size: 1rem; color: #db1f2a">
                        <span style="margin-right: 0.5rem">Bestellnummer:</span>{{ orderId }}
                    </h2>
                </td>
            </tr>
        </table>

        <!-- Second Section -->
        <table style="width: 100%; margin-bottom: 1.5rem">
            <!-- First Row -->
            <tr>
                <!-- Vorname -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Vorname
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.5rem;
                        "
                    >
                        {{ firstName }}
                    </div>
                </td>
                <!-- Nachname -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Nachname
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ lastName }}
                    </div>
                </td>
            </tr>

            <!-- Second Row -->
            <tr>
                <!-- Straße -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Straße
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ street }}
                    </div>
                </td>
                <!-- Hausnummer -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Hausnummer
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ houseNumber }}
                    </div>
                </td>
            </tr>

            <!-- Third Row -->
            <tr>
                <!-- PLZ -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">PLZ</div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ postCode }}
                    </div>
                </td>
                <!-- Ort -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">Ort</div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ city }}
                    </div>
                </td>
            </tr>

            <!-- Fourth Row -->
            <tr>
                <!-- IMEI/SN -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        IMEI/SN
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ imei }}
                    </div>
                </td>
                <!-- Mobil -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Mobil
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ phone }}
                    </div>
                </td>
            </tr>

            <!-- Fifth Row -->
            <tr>
                <!-- Gerät -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Gerät
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ device }}
                    </div>
                </td>
                <!-- Email Address -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Email Adresse
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ email }}
                    </div>
                </td>
            </tr>
            <tr>
                <!-- Farbe -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Farbe
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ color }}
                    </div>
                </td>
                <!-- PIN der SIM Karte -->
                <td style="width: 50%">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        PIN der SIM Karte
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ simPin }}
                    </div>
                </td>
            </tr>

            <!-- Second Row -->
            <tr>
                <!-- Geräte Entsperrcode -->
                <td style="width: 50%; padding-right: 1rem">
                    <div style="font-weight: 500; margin-bottom: 0.5rem; font-size: 14px">
                        Geräte Entsperrcode
                    </div>
                    <div
                        style="
                            background-color: #f9fafb;
                            color: #111827;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            border: 1px solid #d1d5db;
                            padding: 0.625rem;
                        "
                    >
                        {{ deviceUnlockCode }}
                    </div>
                </td>
            </tr>
        </table>

        <!-- RepairsToBeMade Component -->
        <div style="margin-top: 1.75rem">
            <p style="font-size: 1rem; margin-bottom: 0.5em">Repariert wird:</p>
            <table style="width: 100%; margin-top: 0.5rem; border-collapse: collapse">
                {% set max_length = repairs.repairListOne|length if repairs.repairListOne|length >
                repairs.repairListTwo|length else repairs.repairListTwo|length %} {% for i in
                range(max_length) %}
                <tr>
                    <td style="width: 50%; padding: 0.5em; vertical-align: middle">
                        {% if i < repairs.repairListOne|length %}
                        <label style="display: inline-flex; align-items: center">
                            <span class="checkbox checked"></span>
                            {{ repairs.repairListOne[i] }}
                        </label>

                        {% endif %}
                    </td>
                    <td style="width: 50%; padding: 0.5em; vertical-align: middle">
                        {% if i < repairs.repairListTwo|length %}
                        <label style="display: inline-flex; align-items: center">
                            <span class="checkbox checked"></span>
                            {{ repairs.repairListTwo[i] }}
                        </label>

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Third Section -->
        <div style="margin-top: 1rem">
            <div style="margin: 1rem 0">
                <p style="font-size: 1rem">Mängel am Gerät vor der Reparatur:</p>
                <table style="width: 100%; border-collapse: collapse">
                    <!-- Loop through defectsBeforeRepair and display them in the first column -->
                    {% for i in defectsBeforeRepair %}
                    <tr>
                        <!-- Defect checkbox and item in the first column -->
                        <td style="width: 10%">
                            <span class="checkbox checked"></span>
                        </td>
                        <td style="padding: 1rem">{{ i }}</td>

                        <!-- Only add the image in the first row -->
                        {% if loop.first %}
                        <td
                            rowspan="{{ defectsBeforeRepair|length }}"
                            style="width: 50%; text-align: center"
                        >
                            <img
                                src="images/device.png"
                                alt="Device Mockup"
                                style="max-width: 200px"
                            />
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Additional Information Section -->
            <div style="margin-top: 1rem">
                <!-- Total Price and Accessories -->
                <div>
                    <p style="font-size: 1rem">Zubehör:</p>
                    <table style="margin-bottom: 0.75rem">
                        {% for i in accessories %}
                        <tr>
                            <td style="width: 10%">
                                <span class="checkbox checked"></span>
                            </td>
                            <td style="padding-right: 1rem">{{i.name}}</td>
                            <td>{{i.price}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    <!-- Total Price Display -->
                    <div>
                        <span>Gesamtpreis für Zubehör:</span>
                        <span style="margin-left: 0.5rem">
                            <!-- Replace 'totalPrice' with your actual total price variable -->
                            {{ totalAccessoryPrice }} €
                        </span>
                    </div>
                </div>

                <!-- Water Damage Section -->
                <div style="margin: 1rem 0; display: grid">
                    <div>
                        <p style="font-size: 1.125rem; font-weight: 600">
                            Hat das Gerät einen Wasserschaden?
                        </p>

                        <table style="margin: 1rem auto; width: 100%; text-align: center">
                            <!-- First Row: Yes or No centered -->
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    {% if hasWaterDamage %}
                                    <p>Ja, es hat einen Wasserschaden</p>
                                    {% else %}
                                    <p>Nein, es hat keinen Wasserschaden</p>
                                    {% endif %}
                                </td>
                            </tr>

                            <!-- Second Row: Image centered -->
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <img
                                        src="images/waterDamageIcon.jpg"
                                        alt="Water Damage"
                                        style="width: 200px; height: 200px"
                                    />
                                </td>
                            </tr>

                            <!-- Third Row: Checkbox and text -->
                            <tr>
                                <td style="width: 10%">
                                    <span class="checkbox checked"></span>
                                </td>
                                <td style="width: 90%; text-align: left">
                                    Mir ist bewusst, dass ich bei Wasserschäden keine Garantie oder
                                    Gewährleistung nach der Reparatur erhalte.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pricing Section -->
        <div style="margin: 1rem 0; width: 100%">
            <!-- Reparieren Sie mein Gerät bis Input Field -->
            <div style="margin-bottom: 0.75rem">
                <div
                    style="
                        display: block;
                        margin-bottom: 0.5rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: #111827;
                    "
                >
                    Reparieren Sie mein Gerät bis:
                </div>
                <div
                    style="
                        position: relative;
                        background-color: #f9fafb;
                        color: #111827;
                        font-size: 0.875rem;
                        border-radius: 0.5rem;
                        border: 1px solid #d1d5db; /* Ensure the border matches */
                        display: block;
                        width: 100%;
                        padding: 0.625rem;
                    "
                >
                    {{ totalPrice }}
                    <span
                        style="
                            position: absolute;
                            right: 0.75rem;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #6b7280;
                            pointer-events: none;
                        "
                    >
                        €
                    </span>
                </div>
            </div>

            <div style="margin-bottom: 0.75rem">
                <div
                    style="
                        display: block;
                        margin-bottom: 0.5rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: #111827;
                    "
                >
                    Anzahlung/Deposit: :
                </div>
                <div
                    style="
                        position: relative;
                        background-color: #f9fafb;
                        color: #111827;
                        font-size: 0.875rem;
                        border-radius: 0.5rem;
                        border: 1px solid #d1d5db; /* Ensure the border matches */
                        display: block;
                        width: 100%;
                        padding: 0.625rem;
                    "
                >
                    {{ deposit }}
                    <span
                        style="
                            position: absolute;
                            right: 0.75rem;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #6b7280;
                            pointer-events: none;
                        "
                    >
                        €
                    </span>
                </div>
            </div>

            <!-- Gesamtpreis Input Field -->
            <div style="margin-bottom: 0.75rem">
                <div
                    style="
                        display: block;
                        margin-bottom: 0.5rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: #111827;
                    "
                >
                    Gesamtpreis:
                </div>
                <div
                    style="
                        position: relative;
                        background-color: #f9fafb;
                        color: #111827;
                        font-size: 0.875rem;
                        border-radius: 0.5rem;
                        border: 1px solid #d1d5db; /* Ensure the border matches */
                        display: block;
                        width: 100%;
                        padding: 0.625rem;
                    "
                >
                    {{ totalPrice }}
                    <span
                        style="
                            position: absolute;
                            right: 0.75rem;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #6b7280;
                            pointer-events: none;
                        "
                    >
                        €
                    </span>
                </div>
            </div>
        </div>

        <!-- Terms and Confirmation Section -->

        <table style="margin: 1rem 0">
            <tr>
                <!-- IMEI/SN -->

                <!-- Mobil -->
                <td style="width: 10%">
                    <span class="checkbox checked"></span>
                </td>
                <td style="width: 90%; padding-right: 1rem">
                    Hiermit bestätige ich, dass ich mit den oben genannten Bedingungen einverstanden
                    bin und diese akzeptiere.
                </td>
            </tr>
        </table>
    </body>
</html>
